.Home1{
    background: #fff;
    display: flex;
    flex-direction: column
}
.Home1>header{
    overflow: hidden;
    height: 1rem;
    display: flex;
    justify-content: space-between;
}
.Home1>header>span:nth-of-type(1){
    font-size: 0.38rem;
    line-height: 0.8rem;
    margin-left: 0.3rem;
}
.Home1>header>span:nth-of-type(2){
    font-size: 0.35rem;
    line-height: 0.8rem;
}
.Home1>header>span:nth-of-type(3){
    font-size: 0.26rem;
    line-height: 0.8rem;
    margin-right: 0.3rem;
}
.Home1>section{
    flex: 1;
    margin: 0
}
.Home1>section>nav{
    height: 2.5rem;
    background: #ff5c37;
    text-align: center;
    color: #fff;
    overflow: hidden;
}
.Home1>section>nav>p:nth-of-type(1){
    font-size: 0.25rem;
    margin-top: 0.7rem !important;
}
.Home1>section>nav>p:nth-of-type(2){
    font-size: 0.5rem;
    margin-top: 0.2rem;
}
.Home1>section>.cz{
    height: 0.8rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: #f6f6f6;
}
.Home1>section>.cz>span:nth-of-type(1){
    font-size: 0.26rem;
    line-height: 0.8rem;
    color: #8a8a8a;
    margin-left: 0.3rem;
}
.Home1>section>.cz>span:nth-of-type(2){
    font-size: 0.24rem;
    color: #5d5c5c;
    line-height: 0.8rem;
}
.Home1>section>.cz>span:nth-of-type(2)>i{
    color: #c7c7c7;
    font-size: 0.25rem;
    display: inline-block;
    margin-right: 0.3rem;
    margin-left: 0.1rem;
}
.Home1>section>ul>li{
    height:1.64rem ;
    background: #fff;
    border-bottom: 1px solid #c7c7c7;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.Home1>section>ul>.li-one div:nth-of-type(1){
    font-size: 0.3rem;
    color: #363636;
    line-height: 1.64rem;
    margin-left: 0.32rem;
}
.Home1>section>ul>li div:nth-of-type(2) span:nth-of-type(1){
    font-size: 0.24rem;
    color: #ff5c37;
    line-height: 1.64rem;
}
.Home1>section>ul>li div:nth-of-type(2) span:nth-of-type(2){
    color: #fff;
    font-size: 0.24rem;
    padding: 0.17rem 0.52rem;
    background: #ff5c37;
    border-radius:0.5rem;
    margin: 0.5rem 0.3rem
}
.Home1>section>ul>li>div:nth-of-type(1){
    display: flex;
    flex-direction: column;
}
.Home1>section>ul>li>div:nth-of-type(1) span:nth-of-type(1){
    font-size: 0.3rem;
    color: #363636;
    margin-left: 0.32rem;
    margin-top: 0.43rem;
}
.Home1>section>ul>li>div:nth-of-type(1) span:nth-of-type(2){
    font-size: 0.24rem;
    color: #a7a7a7;
    margin-left: 0.32rem;
    margin-top: 0.27rem;
}