.Register{
    display: flex;
    flex-direction: column
}
.Register>header{
    height: 0.86rem;
    background: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
}
.Register>header>i{
    font-size: 0.4rem;
    text-indent: 0.3rem;
    line-height: 0.86rem;
}
.Register>header>span{
    font-size: 0.3rem;
    line-height: 0.86rem;
    text-indent: -0.5rem;
}
.Register>section>p{
    height:1.08rem ;
    background: #fff;
    border-bottom: 1px solid #ccc;
}
.Register>section>p>span{
    font-size: 0.3rem;
    color: #000;
    line-height: 1.08rem;
    padding: 0 0.5rem 0 0.3rem;
    display: inline-block;
}
.Register>section>p>input{
    border: none;
    outline: none;
    color: #a7a7a7;
    font-size: 0.3rem;
    height: 1.04rem;
    line-height: 1.04rem;
}

.Register>section>div>span:nth-of-type(1){
    font-size: 0.23rem;
    text-indent: 0.3rem;
    color: #dcdcdc;
    line-height: 0.8rem;
    display: inline-block;

}
.Register>section>div>span:nth-of-type(2){
    font-size: 0.23rem;
    text-indent: 0.1rem;
    color: #ff5832;
    line-height: 0.8rem;
}
.Register>section>button{
    width: 90vw;
    height: 0.8rem;
    background: #a7a7a7;
    text-align: center;
    line-height: 0.8rem;
    color: #fff;
    font-size: 0.3rem;
    border: none;
    outline: none;
    border-radius: 0.1rem;
    margin: 0 auto;
    display: block;
}








