.xindai{
    display: flex;
    flex-direction: column
}
.xindai>header{
    height: 0.86rem;
    background: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
}
.xindai>header>i{
    font-size: 0.4rem;
    text-indent: 0.3rem;
    line-height: 0.86rem;
}
.xindai>header>span{
    font-size: 0.3rem;
    line-height: 0.86rem;
    text-indent: -0.5rem;
}




