


.App{
  display: flex;
  flex-direction: column;
  height: 100%;
  font-size: .42rem
}
.App>div{
  display: flex;
  flex-direction: column;
  height: 100%;
 
}
.App>div>div{
  display: flex;
  flex-direction: column;
  height: 100%;
  
}
.App>div>div>section{
  flex: 1;

  overflow: auto;
}
.App>div>div>footer{
  height: 1rem;
  border-top: 1px solid #d9d9d9;
  font-size: 0.2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.App>div>div>footer>a{
  color: #c6c6c6;
}
.App>div>div>footer>a>figure{
  display: flex;
  flex-direction: column;
  align-items: center;

}
.App>div>div>footer>a>figure>.iconfont{
  font-size: .42rem;
}

